div.wireframe, div, .navbar {
    border: 2px;
    border-color: black;
    border-style: solid;
    margin: 5px;
    padding: 2px;
}

div.wireframe {
    background-color: #FAECDE;
}

@media screen and (min-width: 1025px) {
 }

 @media screen and (max-width: 100px) {
}