div.wireframe, div, .navbar {
    border: 2px;
    border-color: black;
    border-style: solid;
    margin: 5px;
    padding: 2px;
}

div.wireframe {
    background-color: #FAECDE;
}

@media screen and (min-width: 1025px) {
 }



.navbar {
    background-color: #D8DCEF; 
    padding: 10px; 
}

.navbar a {
    text-decoration: none; 
    color: #333; 
    margin-right: 10px; 
}

.navbar p {
    margin: 0 5px; 
    display: inline; 
}

.navbar a, .navbar p {
    display: inline-block;
    margin: 0 5px; 
}

h1 {
font-size: 72px;
}
@media screen and (min-width: 1025px) {
}

h1 {
    font-size: 50px; //pienemmille ruduille
    }
@media screen and (max-width: 100px) {
}

    .navbar {
        background-color: #F3DCFA; 
        padding: 10px; 
    }

    .navbar a {
        text-decoration: none; 
        color: #333; 
        margin-right: 10px; 
    }

    .navbar p {
        margin: 0 5px; 
        display: inline; 
    }

    .navbar a, .navbar p {
        display: inline-block;
        margin: 0 5px; 
    }

    .navbar {
        background-color: #E3F3E6; 
        padding: 10px; 
    }

    .navbar a {
        text-decoration: none; 
        color: #333; 
        margin-right: 10px; 
    }

    .navbar p {
        margin: 0 5px; 
        display: inline; 
    }

    .navbar a, .navbar p {
        display: inline-block;
        margin: 0 5px; 
    }

    .navbar a, .navbar p {
        display: inline-block;
        margin: 0 5px; 
    }

    .navbar {
        background-color: #E7FCFF; 
        padding: 10px; 
    }

    .navbar a {
        text-decoration: none; 
        color: #333; 
        margin-right: 10px; 
    }

    .navbar p {
        margin: 0 5px; 
        display: inline; 
    }